name: Test

on: [push]

env:
  DEVELOPER_DIR: /Applications/Xcode_15.0.app

jobs:
  ci:
    runs-on: macos-13
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Cache BuildTools
      id: cache-buildtools
      uses: actions/cache@v2
      with:
        path: ./BuildTools/.build
        key: ${{ runner.os }}-buildtools
    - name: Init
      run: make init
    - name: Lint
      run: make lint
    - name: Test
      run: make test
